version: "3.11"

services:
  api:
    build:
      context: ./api
      args:
        - DEV=true
    ports:
      - "8000:8000"
    volumes:
      - "./api/src:/src"
    command: >
      sh -c "
        python manage.py wait_for_db &&
        python manage.py migrate &&
        python manage.py runserver 0.0.0.0:8000
      "
    depends_on:
      - db
    # in production environment variables should be in .env file
    # but for purpose of easier setup i decided to hardcode them here
    environment:
      - DB_HOST=db
      - DB_NAME=devdb
      - DB_USER=devuser
      - DATABASE_PORT=5432
      - DB_PASS=devpass
  db:
    image: postgres:13-alpine
    ports:
      - "5432:5432"
    volumes:
      - dev-db-data:/var/lib/postgres/data
    environment:
      - POSTGRES_DB=devdb
      - POSTGRES_USER=devuser
      - POSTGRES_PASSWORD=devpass

volumes:
  dev-db-data:
    driver: local
